html,
body {
  background: #e9e9e9;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.1;
}

.reset-button {
  font: 400 11px "Open Sans";
  line-height: 1;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #7289da;
  color: #7289da;
  font-size: 1em;
  padding: 0.5em 0.8em;
  cursor: pointer;
  
  &:hover {
    background: #7289da;
    color: #fff;
  }
}

.discord-shoutout * {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.discord-shoutout {
  position: fixed;
  bottom: 2em;
  right: 1em;
  width: 300px;
  z-index: 100;
  text-align: left;

  transition: 1s ease;
  visibility: hidden;
  opacity: 0;
  transform: translate(1em, 50px);

  filter: drop-shadow(10px 8px 0px rgba(0, 0, 0, 0.15));
  
  &:hover {
    filter: drop-shadow(10px 8px 0px rgba(0, 0, 0, 0.25));
  }
  
  &.online {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #7289da transparent transparent;
    position: absolute;
    right: 0;
    bottom: -25px;
  }

  .shoutout-inner {
    color: #fff;
    padding: 1em 1.5em 1.5em;
    transition: box-shadow 0.3s ease;
    background: transparent;
    border-radius: 1em / 1em;
    overflow: hidden;
    position: relative;
    
    &:after, &:before {
      content: "";
      border-width: 0;
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      background-color: #7289da;
      z-index: -1;
    }

    &:after {
      height: 200%;
      top: 0;
      left: -46px;
      transform: rotate(-18deg);
    }

    &:before {
      height: calc(100% - 25px);
      right: 0;
      top: 0;
    }
  }
  
  .title {
    display: block;
    font-size: 1.2em;
    margin: 0 0 1em 0 ;
  }
  
  p {
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 0 0.6em 0;
  }
  
  .discord-buttons {
    margin-top: 1.4em;
  }
  
  .discord-button {
    padding: 0.6em 1em;
    color: white;
    text-decoration: none;
    background: transparent;
    border: 0;
    font-size: 0.9em;
    cursor: pointer;
  }

  .discord-button.discord-primary {
    border: 2px solid #fff;
    border-radius: 6px;
  }

  .discord-button.discord-primary:hover {
    background: #fff;
    color: #7289da;
  }

  .discord-button.discord-secondary {
    color: #fff;
    
    &:hover {
      text-decoration: underline;
    }
  }

  img {
    position: absolute;
    right: 1em;
    top: 1em;
    height: 1.4em;
  }
}
