body
{
  margin: 0;
  padding: 0;
  animation: bgcolor infinite 20s;
}
h1
{
  margin: 0;
  padding: 0;
  color: #5865F2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
