body
{
  margin: 0;
  padding: 0;
  animation: bgcolor infinite 20s;
}
h1
{
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  transition: 0.8s;
}
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-familyL "montserrat";
  cursor: pointer;
  margin: 10px;
}
.btn1,.btn2,.btn3,.btn4{
  color: #3498db;
}

.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
  color: #fff;
}
