body
{
  margin: 0;
  padding: 0;
  animation: bgcolor infinite 20s;
}
h1
{
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.discord-widget {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .13);
}

.discord-widget iframe {
    width: 100%;
    height: 500px;
}
.inner-discord {
    height: 470px;
    overflow: hidden;
}

.discord-widget ::-webkit-scrollbar {
    width: 10px
}

.discord-widget ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .1);
    border: 3px solid transparent;
    border-radius: 5px
}

.discord-widget ::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 5px
}

.discord-widget-footer {
    background-color: #7289da;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .32) inset;
    border: 1px solid rgba(0, 0, 0, .32);
}

.discord-widget-footer a {
    color: #fff;
    font-weight: 700;
    transition: opacity .25s ease-out;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .17);
    font-size: 12px;
}

.discord-widget-footer a:hover {
    opacity: .6;
}
